<h1>API Endpoint & Methods</h1>
<div class="container">
    <app-lookup-postcode></app-lookup-postcode>
    <app-bulk-lookup-postcodes></app-bulk-lookup-postcodes>
    <app-postcodes-longitude-latitude></app-postcodes-longitude-latitude>
    <app-bulk-reverse></app-bulk-reverse>
    <app-random-postcodes></app-random-postcodes>
    <app-validate-postcode></app-validate-postcode>
    <app-nearest-postcodes></app-nearest-postcodes>
    <app-autocomplete-postcode></app-autocomplete-postcode>
    <app-query-postcode></app-query-postcode>
    <app-terminated-post-code></app-terminated-post-code>
    <app-outward-code></app-outward-code>
    <app-nearest-outward-code></app-nearest-outward-code>
    <app-outward-longitude-latitude></app-outward-longitude-latitude>
</div>