#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;


  @media only screen and (min-width: 992px) {
    border-bottom: 1px solid transparent;
    background: 0 0;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }


}
