<h1 style="text-align: center">API documentation</h1>
<app-lookup-a-postcode></app-lookup-a-postcode>
<app-bulk-lookup-postcodes></app-bulk-lookup-postcodes>
<app-nearest-postcodes-longitude-latitude-get></app-nearest-postcodes-longitude-latitude-get>
<app-bulk-reverse-geocoding></app-bulk-reverse-geocoding>
<app-get-random-postcode></app-get-random-postcode>
<app-validate-postcode></app-validate-postcode>
<app-autocomplete-postcode></app-autocomplete-postcode>
<app-query-postcode></app-query-postcode>
<app-lookup-terminated-postcode></app-lookup-terminated-postcode>
<app-lookup-outward-code></app-lookup-outward-code>
<app-lookup-outward-nearest-code></app-lookup-outward-nearest-code>
<app-nearest-outward-codes-logitude-latitude></app-nearest-outward-codes-logitude-latitude>
