.contact-form-center{
    max-width:800px;
    margin:60px auto;
}
.bg-img{
    background: url(https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-clean-blog/master/img/contact-bg.jpg) center;
    background-size: cover;
    height: 500px;
}