<div class="api-method">
    <h4 class="method-title">Lookup terminated postcode</h4>
    <h4><span class="http-method">GET</span>
        api.postcodes.io/terminated_postcodes/
        <input 
            [formControl]="searchControl"
            class="rest-resource" 
            placeholder=":postcode" 
            id="single-terminated-postcode-input">
        <a (click)="handleRequest()" id="single-terminated-postcode">Request</a>
    </h4><pre class="code-box" id="single-terminated-postcode-result">{{responce | json}}</pre>
</div>