<div class="api-method">
    <h4 class="method-title">Get nearest outward codes for a given longitude &amp; latitude</h4>
    <h4><span class="http-method">GET</span>
        api.postcodes.io/outcodes?lon=
        <input 
            [formControl]="searchControlLong"
            class="rest-resource" 
            placeholder=":longitude" 
            id="lon-outcode-input">
        &amp;lat=
        <input 
            [formControl]="searchControlLatt"
            class="rest-resource" 
            placeholder=":latitude" 
            id="lat-outcode-input">
        <a (click)="handleRequest()" id="geocode-outcode">Request</a>
    </h4><pre class="code-box" id="geocode-outcode-result">{{responce | json}}</pre>
</div>