<div style="text-align: center">
  <h2>Bulk reverse geocoding</h2>
  <h4>Post method</h4>
  <p><b>API</b> : api.postcodes.io/postcodes</p>
  <p>
    For this params:
  </p>
  <p>
    "longitude":  0.629834723775309,
    "latitude": 51.7923246977375
    &&
    "longitude": -2.49690382054704,
    "latitude": 53.5351312861402,
    "radius": 1000,

  </p>
</div>
<br>
<div style="display: flex; align-items: center; flex-direction: column">
  <div style="display: flex; align-items: center; justify-content: space-around; flex-direction: row; width: 20%">
    <a class="btn btn-primary" role="button" (click)="makeRequest()">Send</a>
  </div>
  <div style="width: 40%">
    <h6>Response :</h6>
    <div *ngIf="response.status">
      <textarea class="form-control" rows="8" style="border: 2px solid green; padding: 3px">
        {{response.result|json}}
      </textarea>
      <button (click)="response.status = false" class="btn btn-primary">Close</button>
    </div>
    <div *ngIf="response.error">
      <textarea style="border: 2px solid red; padding: 3px" class="form-control" rows="8">
      Error!
      {{response.message}}
    </textarea>
      <button (click)="response.error = false" class="btn btn-primary">Close</button>
    </div>
  </div>
</div>
<hr>
