<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="api-header">API Endpoint &amp; Methods</h1>
      <div class="api-demo">
        <app-lookup-postcode></app-lookup-postcode>
        <app-bulk-lookup-postcodes></app-bulk-lookup-postcodes>
        <app-postcodes-longitude-latitude></app-postcodes-longitude-latitude>
        <app-bulk-reverse-geocoding></app-bulk-reverse-geocoding>
        <app-random-postcode></app-random-postcode>
        <app-validate-postcode></app-validate-postcode>
        <app-nearest-postcodes></app-nearest-postcodes>
        <app-autocomplete-postcode></app-autocomplete-postcode>
        <app-query-postcode></app-query-postcode>
        <app-lookup-terminated-postcode></app-lookup-terminated-postcode>
        <app-lookup-outward-code></app-lookup-outward-code>
        <app-nearest-outward-code-for-outward-code></app-nearest-outward-code-for-outward-code>
        <app-nearest-outward-codes-for-given-longitude-latitude></app-nearest-outward-codes-for-given-longitude-latitude>
      </div>
    </div>
  </div>
</div>