<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<nav class="nav justify-content-end">
  <a routerLink= "" routerLinkAcive="active" class="nav-link active">HOME</a><br />
  <a routerLink="/about" routerLinkActive="active" class="nav-link active">ABOUT</a><br />
  <a routerLink="/sample-post" routerLinkActive="active" class="nav-link active">SAMPLE POST</a>
</nav>
<router-outlet></router-outlet>
