.list-header {
    width: 120px;
    font-weight: bold;
    text-align: center;
}

.list {
    display: flex;
}

.list-item {
    width: 120px;
}

.list-item-id {
    width: 30px;
}

.list-item, .list-item-id {
    border: 1px solid black;
}
